{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^react$",
    "^react-dom(.*)$",
    "",
    "^next(.*)$",
    "^next-auth(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/types/(.*)$",
    "",
    "^@/routes(.*)$",
    "^@/auth/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/context/(.*)$",
    "",
    "^@/components/(.*)$",
    "",
    "^[./]"
  ]
}
