@layer components {
  .outline-round-sm,
  .peer:checked ~ .outline-round-sm-ch {
    border-radius: 3px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;

    @apply focus-visible:outline-2;
    @apply focus-visible:outline-offset-2;
    @apply focus-visible:outline-blue-500;
  }

  .outline-round-md {
    border-radius: 6px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;

    @apply focus-visible:outline-4;
    @apply focus-visible:outline-offset-3;
    @apply focus-visible:outline-blue-500;
  }

  .outline-round-full {
    border-radius: 50%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;

    @apply focus-visible:outline-2;
    @apply focus-visible:outline-offset-2;
    @apply focus-visible:outline-blue-500;
  }

  .outline-input {
    border-radius: 6px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;

    @apply focus-visible:outline-2;
    @apply focus-visible:-outline-offset-2;
    @apply focus-visible:outline-blue-500;
  }

  .scrollbar {
    scrollbar-width: thin;

    &.scrollbar-dark {
      scrollbar-color: var(--color-slate-700) var(--color-slate-900);
    }
  }

  .visible-hover-show:hover > div:last-child {
    visibility: visible;
  }
  .visible-hide > div:last-child {
    visibility: hidden;
  }
  div.next-sibling:hover + div {
    border-color: transparent !important;
  }
}
